.adj{
    background-size:contain;
    height: 50%;
}
h1{
    font-size: 50px;
    text-shadow: 4px wheat;
    text-rendering:20px; 
    font-family:sans-serif;
}
.xyz{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-stretch: 2px;
    text-decoration: underline;
    color:gainsboro;
}
.ysa{
    background-color: rgba(0, 1, 3, 0.849);
    padding: 70px 70px 70px 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}
.abe{
    background-color:#222;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: underline;
}
.trg{
    font-family: Open Sans;
    font-size:20px;
    color: aliceblue;
}
.trg:hover{
    text-decoration: none;
    color: grey;
    transition: 0.5s;
}
.gds{
    color: white;
    padding-right: 10px;
    font-size: 18px;
    border :none;
    margin-left: 120px; 
    margin-right: 120px;
    background: transparent;
    font-family: 'Arvo';
}
.xyz{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-stretch: 2px;
    text-decoration: underline;
    color:gainsboro;
}
.sfa{
    height: 10%;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    background-color:dimgrey;
}
.gds:hover{
    text-decoration: none;
    transition: 0.5s;
    color: grey;
    background: transparent;
}
.fsu{
  margin-left: auto;
  margin-right: auto;
}
.gds:active{
    color: grey;
    background: transparent;
}
.gds:focus{
    color: grey;
    background: transparent;
}
  .hds{
      cursor: pointer;
      color: darkblue;
  }

.gdh{
    background-color: black;
    color: white;
}

.udg{
    padding: 15px;
    color: #fff;
    background:rgba(0, 1, 3, 0.849);
	  background-size: 400% 400%;
    font-family:Open Sans ;
}

footer{
    background-image: url("D:\new online.com\elements\footer.jpg");
    background-size: cover;
}
.fgd{
    border-radius: 10px;
    border: 5px black solid;
    margin-left:10px;
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 4% 2% 4% 2%;
    background-image: url(D:\wallpaper\45f5d09bbf47aa81da0156929a6bb141.png);
    position: relative;
    text-align: center;
    
}
.fss{
    color: white;
    font-size: 20px;
    font-family: Open Sans;
    margin-top: 3%;
    font-weight: 300;
}
.add{
    border: 2px solid slategrey;
    margin-top: 3%;
    margin-bottom: 3%;

}
.fgu{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
.fsd {
    border-left: 1px solid slategray;
    height:200px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
  .gda{
      background-image: url("D:/new online.com/elements/footer.jpg");
      background-size: cover;
      padding-top: 300px;
      padding-bottom: 300px;
  }
  .dfs{
    font-size: 16px;
    font-family: ABeeZee;
  }
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.abe::selection{
    background: rgb(45, 35, 35);
    color: #760f0f;
}
.sdd{
    font-size: 3rem;
}
ul{
    text-align: center;
    margin:0;
    padding:0;
}
 ul li a{
    color: white;
}
 ul li {
    display: inline-block;
    font-family: 'Fredoka One';
    transition: 0.7s all;
    list-style-type:none;
}
 ul li a:hover{
    transition: 0.5s all;
    color: black;
    text-decoration: inherit;
}
 ul li a{
    text-decoration:none;
    padding: 20px;
    
  }
    .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(82, 80, 80);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  button center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .ddf{
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
  }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  .center{
    flex: 50%;
    max-width: 80%;
  }
}
.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
  }
  
  .dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  }
  @media screen and (max-width: 800px) {
    .fsf{
      flex: 50%;
      max-width: 80%;
    }
  }
  .fwe{
    margin-top: 10%;
    padding-right: 40%;
  }
  @media screen and (max-width: 600px){
    .go{
      max-width: 350px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .hfh{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
  }
  .hfh:hover{
    color:rgb(209, 191, 191);
    text-decoration: dotted;
    transition: 0.5s ease;
  }
  .search{
    margin-top: 10px;
    width:80%;
    border: solid rgb(248, 243, 243) 2px;
    background-color: #222;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .owo{
    margin-top: 10px;
    width: 10%;
    border: solid rgba(39, 20, 20, 0.303) 2px;
    height: 50px;
    background-color:floralwhite;
    border-bottom-right-radius: 50px;
    border-top-right-radius:50px ;
    font-size:15px;
  }
